:root {
    --cta_accent: #F31F2A;
    --ligth_bgd: white;
    --navegation: #003087;
    --shadow: #0f0f0f9a;
    --text_primary: #212121;
    --text_secondary: #757575;
    --smart_blue: #3966B1;
    --atomic: #FF773F;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    top: 0;
}

div.background {
    z-index: -3;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: relative;
}

video {
    filter: saturate(1.8);
    /* Aumenta la saturación un 70% */
    width: 100%;
    height: clamp(23rem, 60vw, 40rem);
    object-fit: fill;
    top: 0;
    left: 0;
    position: absolute;
    border-radius: 0 0 15px 15px;
}

#menu-icon {
    width: clamp(8rem, 20vw, 12rem);
    height: auto;
    cursor: pointer;
    position: absolute;
    top: 5%;
    right: 0;
}

.header-content {
    width: 100%;
    height: clamp(23rem, 60vw, 40rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    margin-bottom: 2rem;
}

.hamburguer {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 40px;
    height: auto;
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin-bottom: 1.5rem;
}

.hamburguer .bar {
    width: 100%;
    height: 4px;
    background-color: var(--navegation);
    border-radius: 4px;
    transition: all 0.3s ease;
}

/* --- Animación al abrir --- */
.hamburguer[aria-expanded="true"] .bar:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}

.hamburguer[aria-expanded="true"] .bar:nth-child(2) {
    opacity: 0;
}

.hamburguer[aria-expanded="true"] .bar:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}

.nav-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 8%;
    left: -100%;
    width: 60%;
    height: 40vh;
    /*efecto glass*/
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    background: var(--shadow);
    border-right: 1px solid var(--shadow);
    box-shadow: 4px 0 12px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    padding: 1rem 2rem;
    transition: left 0.3s ease;
    z-index: 1000;
}

.nav-menu li a {
    text-decoration: none;
    color: var(--ligth_bgd);
    font-size: 1rem;
    font-weight: 500;
    padding: .2rem 1rem;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    transition: color 0.3s ease;
    background: none;
    border-bottom: 3px solid transparent;
}

.nav-menu li a:hover {
    border-bottom: 3px solid var(--navegation);
}

/* --- Menú visible --- */
.nav-menu.active {
    left: 0;
}

@media (min-width: 768px) {
    .background video {
        height: clamp(500px, 80vh, 700px);
    }

    .header-content {
        display: flex;
        flex-direction: column;
        justify-content: initial;
        align-items: center;
        height: clamp(500px, 80vh, 700px);
        margin-bottom: 2rem;
        gap: 7rem;
        width: 100%;
    }

    .nav-links {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .hamburguer {
        display: none;
    }

    .nav-menu {
        position: static;
        flex-direction: row;
        flex-wrap: nowrap;
        background: none;
        box-shadow: none;
        border: none;
        padding: 0;
        width: 100%;
        height: auto;
    }

    ul.nav-menu#nav-menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 1rem .5rem;
        width: auto;
    }

    .nav-menu li a {
        font-size: 1rem;
        font-weight: 600;
        color: var(--navegation);
        background: none !important;
        border-bottom: 3px solid transparent;
    }

    .nav-menu li a:hover {
        border-bottom: 2px solid var(--navegation);
    }

    .nav-menu.active {
        left: 0;
        /* no aplica */
    }

    .preview {
        padding: 2rem !important;
        width: 55% !important;
    }

    .preview p {
        width: 80%;
    }

    #menu-icon {
        top: 18%;
        right: 18%;
    }
}


.preview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background-color: var(--shadow);
    border-radius: 15px;
    width: 100%;
    height: auto;
    margin-top: 1rem;
}

.header-content .preview h1 {
    font-family: 'Frank Ruhl Libre', serif;
    font-size: clamp(1.5rem, 4vw, 3rem);
    color: var(--ligth_bgd);
    margin-bottom: 1rem;
    text-align: center;
}

.header-content .preview p {
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(.9rem, 2vw, 1.1rem);
    color: var(--ligth_bgd);
    margin-bottom: 2rem;
    text-align: center;
}

.cta {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .8rem;
}

.cta button {
    padding: .7rem;
    font-size: clamp(.7rem, 2vw, 1.1rem);
    font-family: 'Montserrat', sans-serif;
    background-color: var(--navegation);
    color: var(--ligth_bgd);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: transform ease-in-out .3s;
}

.cta button:hover {
    transform: scale(1.1);
}

.cta a#btn-contact {
    padding: .7rem;
    font-size: clamp(.7rem, 2vw, 1.1rem);
    font-family: 'Montserrat', sans-serif;
    color: var(--ligth_bgd);
    border: none;
    border-radius: 15px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .3rem;
    transition: transform ease-in-out .3s;
}

.cta a#btn-contact:hover {
    background-color: var(--navegation);
    transform: scale(1.1);
}

.cta a#btn-contact i {
    font-size: 1rem;
    color: green;
}

footer {
    width: 100%;
    height: auto;
    margin-top: 2rem;
    padding-bottom: .8rem;
    background-color: var(--smart_blue);
}

footer .contacto {
    width: 100%;
    height: auto;
    background-color: var(--navegation);
    color: var(--ligth_bgd);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    bottom: 0;
    z-index: 5;
}

.contacto .title {
    display: none;
}

.contacto .contact-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: .8rem;
    width: 52%;
}

.contacto .menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: .8rem;
    width: 40%;
}

.contacto .legal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: .5rem;
    gap: 1.5rem;
    width: 100%;
}

.contact-list h3,
.menu h3,
.legal h3 {
    font-family: 'Frank Ruhl Libre', serif;
    font-size: clamp(1.2rem, 3vw, 1.5rem);
    margin-bottom: .5rem;
}

.contact-list a,
.menu a,
.legal a {
    text-decoration: none;
    color: var(--ligth_bgd);
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(.8rem, 2vw, 1.1rem);
    cursor: pointer;
    text-align: center;
    padding: .3rem 1rem;
    border-radius: 10px;
    border-bottom: 2px solid transparent;
    z-index: 5;
}

.contact-list a:hover,
.menu a:hover {
    border-bottom: 2px solid var(--ligth_bgd);
}

.contact-list a i {
    margin-right: .5rem;
}

#foot-icon {
    width: clamp(18rem, 30vw, 20rem);
    height: auto;
    cursor: default;
    z-index: 1;
    position: absolute;
    filter: opacity(.1);
}

footer p,
footer p a {
    font-family: 'Montserrat', sans-serif;
    font-size: .8rem;
    font-weight: 600;
    margin-top: .5rem;
    color: var(--ligth_bgd);
    text-align: center;
    text-decoration: none;
}

footer p a:hover {
    text-decoration: underline;
}

@media (min-width:768px) {
    footer .contacto {
        flex-wrap: nowrap;
        justify-content: space-around;
        padding-block: 2rem;
    }

    .contacto .title {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30%;
        font-size: 1.2rem;
        z-index: 1;
    }

    .title a {
        text-decoration: none;
        font-family: 'Frank Ruhl Libre', serif;
        font-size: clamp(1.2rem, 3vw, 1.8rem);
        color: var(--ligth_bgd);
        font-weight: 700;
        cursor: pointer
    }

    .contacto .contact-list,
    .contacto .menu {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 20%;
        padding-inline: 2rem;
    }

    .contacto .legal {
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-inline: 2rem;
        margin: 0;
    }

    .contact-list a,
    .menu a {
        padding: .3rem 1rem;
        border-radius: 10px;
        border-bottom: 2px solid transparent;
    }

    .contact-list a:hover,
    .menu a:hover {
        border-bottom: 2px solid var(--ligth_bgd);
    }

    #foot-icon {
        left: 12%;
    }

}

/*Estilos generales de las secciones*/

section {
    width: 100%;
    height: auto;
    padding-inline: 1rem;
    margin-bottom: 5rem;
}

h2 {
    font-family: 'Frank Ruhl Libre', serif;
    font-size: clamp(.8rem, 2vw, 1.2rem);
    color: var(--navegation);
    margin-bottom: 1rem;
    text-align: center;
}

h3 {
    font-family: 'Frank Ruhl Libre', serif;
    font-size: clamp(1.4rem, 2vw, 1.7rem);
    color: var(--navegation);
    margin-bottom: 1rem;
    text-align: center;
}

.diagfirst {
    border-radius: 35% 0;
}

.diagsecond {
    border-radius: 0 35%;
}

/*Home Section Mobile*/

.home-section .homecontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: auto;
}

.homecontainer .card-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    gap: .7rem;
    width: auto;
    height: auto;
}

.card-list .card-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: .7rem;
    width: clamp(9rem, 15vw, 12rem);
    min-height: clamp(11rem, 20vw, 14rem);
    background-color: var(--smart_blue);
    padding: 1rem;
    shape-outside: circle;
}

.card-icon i {
    font-size: clamp(2rem, 5vw, 3rem);
    color: var(--ligth_bgd);
}

.card-icon span {
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(.8rem, 2vw, 1rem);
    color: var(--ligth_bgd);
}

.card-list .cta {
    margin-block: 1.5rem;
    grid-column: 1 / 3;
    justify-self: center;
}

.card-list .cta a#btn-contact {
    color: var(--text_primary);
    font-weight: 500;
}

.card-list .cta a#btn-contact:hover {
    color: var(--ligth_bgd);
}

img#homepic.diagfirst {
    width: 80%;
    z-index: -3;
}

.img-right {
    background-image: url(../img/estudiantes\ abrazados.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 80%;
    height: 50vh;
}

.circle-exp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    top: 65%;
    right: -50%;
    border-radius: 50%;
    border: 2px dashed var(--atomic);
    width: clamp(10rem, 20vw, 16rem);
    height: clamp(10rem, 20vw, 16rem);
    z-index: 1;
}

.circle-exp .exp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: .8rem;
    border-radius: 50%;
    padding: .6rem;
    width: clamp(9rem, 20vw, 14rem);
    height: clamp(9rem, 20vw, 14rem);
    background-color: var(--atomic);
}

span#number {
    color: var(--ligth_bgd);
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(2rem, 4vw, 3rem);
    font-weight: 700;
}

span#phrase {
    color: var(--ligth_bgd);
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(1rem, 2vw, 1.5rem);
    font-weight: 700;
}

/*About Section Mobile*/

.about-section .aboutcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: auto;
}

.img-left {
    margin-bottom: 1.5rem;
    background-image: url(../img/profilepic.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 80%;
    height: 50vh;
}

.aboutcontainer .information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: -1;
    position: relative;
    padding-top: 10rem;
    padding-bottom: 2rem;
    background-color: var(--atomic);
}